.map {
left:0;
}


.legend_div2 {
	width:260px;
	position:static;
	border: 1px solid #f3f3f4;
	padding:13px;
	background-color:#fafafb;
	margin-bottom:13px;

}

.map_legend {
border:0;
width:100%;
position:static;
}


.legend_div2 .candidate_name {
font-family: 'Open Sans', sans-serif;
text-transform: uppercase;
font-weight:bold;
font-size:11px;
color:#96a3af;
float:left;
margin-right:18px;
}

.legend_div2 .color_box {
border:0;
width:13px;
height:13px;
float:left;
margin-right:5px;
}

.legend_div2 .race_name {
font-size:14px;
text-align:left;
font-family: 'Droid Serif', serif;
font-weight:900;
text-transform: uppercase;
margin-bottom:13px;
display:none;
}

.map_container {
width:290px;
}

.key-races.general-election {
width:180px;
margin-top:0;
border-bottom:0;
padding-left:1px;
}

.general-election #race-header h3 {
margin-bottom:5px;
margin-top:5px;
}

#race-header h3 {
	padding-top:0px;
}

.general-election .candidate-col, .candidate-col{
width:40%;
margin:5px 13px 5px 0;
}
.general-election .candidate-col-votes, .candidate-col-votes{
width:26%;

}
.general-election .candidate-col-percent, .candidate-col-percent {
 width:20%;
 text-align:right;
 }

#prec-container {
border-bottom:0;
padding-top:10px;
border-top: 3px solid #96A3AF;

}
.general-election #prec-header.left {
width:auto;
}

.general-election #prec-header {
	letter-spacing:normal;
}

.general-election #prec-content {
	line-spacing:auto;
	width:auto;
	float:right;
}

.general-election .candidates-header-large {
	width:40%;

}

.general-election .candidates-header {
	width:26%;
}

.general-election .candidates-header.pct {
	width:20%;
	float:right;
}

#WzTtDiV {
/* width:200px; */
}

.neighborhood {
font-size:12px;
}